<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="register-container">
        <h2>Registrazione</h2>
        <form action="/register" method="POST">
            <input type="text" name="username" id="username" placeholder="Username" required>
            <input type="text" name="first_name" id="first_name" placeholder="Nome" required>
            <input type="text" name="last_name" id="last_name" placeholder="Cognome" required>
            <input type="email" name="email" id="email" placeholder="Email" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Conferma Password" required>
            <button type="submit">Registrati</button>
        </form>
        <p id="username_error"></p> <!-- Mostra errore per lo username -->
        <p id="email_error"></p> <!-- Mostra errore per l'email -->
        <p>Hai già un account? <a href="/">Effettua il login</a></p>
    </div>
</body>
</html>
